@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* CSS Reset. */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Color Variables. */
:root {
  --clr-background: #f5f6f7;
  --clr-gray: #c6c6c6;
  --clr-red: #fd8899;
  --clr-green: #7be38f;
  --clr-blue: #58c5f9;
  --border-size: .15rem;
}

body {
  background-color: var(--clr-background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background {
  position: absolute;
  height: 300%;
  width: 300%;
  background-repeat: repeat;
  background-image: url(../img/emoji-background.svg);
  background-size: 40rem;
  transform: rotate(20deg);
  z-index: -1;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  margin-top: 2rem;
}

.title__text {
  color: transparent;
  font-size: 3rem;
  -webkit-text-stroke: black .07rem;
  text-shadow: var(--clr-blue) .2rem .1rem;
}

.title__image {
 width: 4.5rem;
 margin-left: 1rem;
 position: relative;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: .75rem .5rem;
}

.score__star {
  width: 3rem;
}

.score__timer {
  font-size: 1.25rem;
  font-weight: bold;
}

.score__restart {
  font-size: 1.4rem;
  color: white;
  background: black;
  padding: .4rem 2.15rem;
  border-radius: 1rem;
  margin-right: .1rem;
  margin-left: auto;
}

.deck {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 8rem;
  transition: transform .5s;
}

.deck__card {
  padding: 2.4rem;
  list-style: none;
  background-color: white;
  border: black solid var(--border-size);
  border-radius: 2rem;
  width: 9.5rem;
  height: 9.5rem;
  transform-style: preserve-3d;
  transition: transform .6s ease-in-out;
}

.deck__card img {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.deck__card--flipInY {
  transform: rotateY(180deg);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background: white;
  border: black solid var(--border-size);
  border-radius: 2rem;
  padding: .75rem;
  transform: translateY(2rem);
}

.footer__description {
  font-size: .9rem;
  margin: .4rem;
  margin-right: auto;
}

.footer__description a {
  color: black;
}

.footer__links {
  width: 4rem;
  margin-bottom: .75rem;
}