@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* CSS Reset. */
* {
  font-size: 1.65vh;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Color Variables. */
:root {
  --clr-background: #f5f6f7;
  --clr-gray: #c6c6c6;
  --clr-red: #fd8899;
  --clr-green: #7be38f;
  --clr-blue: #58c5f9;
  --border-size: .15rem;
}

/* Lock Scrolling for Mobiles */
html, body {
  position: fixed;
  overflow: hidden;
}

body {
  background-color: var(--clr-background);
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  height: 300%;
  width: 300%;
  background-repeat: repeat;
  background-image: url(../img/emoji-background.svg);
  background-size: 40rem;
  transform: rotate(20deg);
  z-index: -1;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  margin-top: 2rem;
}

.title__text {
  color: transparent;
  font-size: 3rem;
  -webkit-text-stroke: black .08rem;
  text-shadow: var(--clr-blue) .2rem .1rem;
}

.title__image {
 width: 4.5rem;
 margin-left: 1rem;
 position: relative;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: .75rem .5rem;
}

.score__star {
  width: 3rem;
}

.score__moves {
  font-size: 1.25rem;
  text-align: center;
  /* font-weight: bold; */
  color: black;
  background: white;
  padding: .4rem 0;
  border: black solid var(--border-size);
  border-radius: 1rem;
  margin-left: 2rem;
  width: 9.35rem;
  white-space: nowrap;
}

.score__moves::after {
  content: ' Moves';
}

.score__restart {
  font-size: 1.25rem;
  color: white;
  background: black;
  width: 9.35rem;
  padding: .5rem 0;
  border-radius: 1rem;
  margin-right: .1rem;
  margin-left: auto;
}

.deck {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 6.5rem;
  transition: transform .5s;
}

.deck__card {
  padding: 2.4rem;
  list-style: none;
  background-color: white;
  border: black solid var(--border-size);
  border-radius: 2rem;
  width: 9.5rem;
  height: 9.5rem;
  transform-style: preserve-3d;
  transition: transform .6s ease-in-out;
}

.deck__card img {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.deck__card--flipInY {
  transform: rotateY(180deg);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background: white;
  border: black solid var(--border-size);
  border-radius: 2rem;
  padding: .75rem;
  transform: translateY(2rem);
}

.footer__description {
  font-size: .9rem;
  margin: .4rem;
  margin-right: auto;
}

.footer__description a {
  color: black;
  font-size: inherit;
}

.footer__links {
  width: 4rem;
  margin-bottom: .75rem;
}

.hide {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  left: 0;
  height: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .25);
}

.popup {
  display: flex;
  background: white;
  border: black solid var(--border-size);
  border-radius: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup__title {
  display: flex;
}

.popup__title .title__text {
  -webkit-text-stroke: black .1rem;
}

.popup__stars {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.popup .star__image {
  width: 4rem;
}

.popup__restart {
  margin: 0 auto;
  margin-top: 1rem;
}

/* Media Queries */
@media screen and (max-device-width: 640px) {
  * {
      font-size: 10px;
  }
}

@media screen and (max-device-width: 420px) {
  * {
      font-size: 8px;
  }

  footer {
    position: relative;
    margin-top: 1.5rem;
    transform: translateY(-6.5rem);
    align-items: center;
  }

  .footer__description {
    font-size: 1rem;
    margin: 0;
    margin-right: auto;
    margin-left: .4rem;
  }

  .footer__links {
    width: 4.5rem;
    margin-bottom: 0;
  }
}