@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* CSS Reset. */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Color Variables. */
:root {
  --clr-background: #f5f6f7;
  --clr-gray: #c6c6c6;
  --clr-red: #fd8899;
  --clr-green: #7be38f;
  --clr-blue: #58c5f9;
}

body {
  background-color: var(--clr-background);
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  height: 300%;
  width: 300%;
  background-repeat: repeat;
  background-image: url(img/emoji-background.svg);
  background-size: 40rem;
  transform: rotate(20deg);
  z-index: -1;
}

.container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
}

.title__text {
  color: transparent;
  font-size: 3rem;
  -webkit-text-stroke: black .05rem;
  text-shadow: var(--clr-blue) .2rem .1rem;
}

.title__image {
 width: 5rem;
 margin-left: 1rem;
 position: relative;
}

footer {
  display: flex;
}